<div class="container">
  <div class="genre-box">

<h3>ジャンル登録</h3>

<%= form_for @genre, url: admins_genres_path do |f| %>

     <div class="form-group">
        <%= f.label :ジャンル %>
        <%= f.text_field :name %>
        <%= f.submit '追加' %>
     </div>
<% end %>


<table>
	<thead>
		<tr>
			<th>genre一覧</th>
		</tr>
	</thead>
	<tbody>
			<% @genres.each do |genre| %>
            <tr>
              <td><%= genre.name %></td>
              <td><%= link_to admins_genre_path(genre.id), method: :delete, "data-confirm" => "Are you sure？" do %>
                    <i class="fas fa-trash-alt"></i>
                  <% end %>
              </td>
            <% end %>
            </tr>
	</tbody>
</table>

<%= paginate @genres %>

  </div>
</div>
