<div class="container">
  <div class="row">
    <div class="col-md-2 col-xs-1"></div>
    <div class="col-md-8 col-xs-8 user-edit">
  <div class="row">


  <%= form_for(@user, url:user_path(current_user.id)) do |f| %>


      <div class="form-group"><%= attachment_image_tag @user, :profile_image, :fill, 120,120, fallback: "no_image.jpg", size: "120x120" %>
      <%= f.attachment_field :profile_image, class: 'image-prev' %>
    </div>


      <div class="form-group">
      <% if @user.email == "guest@.com" %>
        <p>ゲストユーザーの名前変更はできません</p>
      <% else %>

        Name

         <%= f.text_field :name, class: "form-control" %>
      <% end %>
    </div>

      <div class="form-group">
      <%= f.radio_button :sex, :男 %>
      <%= f.label :男, class: "" %>

      <%= f.radio_button :sex, :女 %>
      <%= f.label :女, class: "" %>
    </div>

      <div class="form-group">


    <% if @user.email == "guest@.com" %>
      <p>ゲストユーザーのemail変更はできません</p>
    <% else %>

      <p>Email
      <%= f.text_field :email, class: "form-control" %></p>
    <% end %>
  </div>
      <div class="form-group">


    <p>年齢
      <%= f.number_field :old, min: 0, max: 100, class: "form-control"%>歳</p>
    </div>
      <div class="form-group">


    <p>体重
      <%= f.number_field :weight, step: "0.1", min: 25, max: 200, class: "form-control"%>kg</p>
    </div>
      <div class="form-group">

    <p>目標体重
      <%= f.number_field :target, step: "0.1", min: 25, max: 200, class: "form-control" %>kg</p>
    </div>

      <div class="form-group">


    <p>身長
      <%= f.text_field :tall, class: "form-control" %>cm</p>
    </div>
      <div class="form-group">


    <p>introduction
      <%= f.text_area :introduction, class: "form-control" %></p>
    </div>

    <p class="update-btn"><%= f.submit "Update", class: "btn-gradation profile" %></p>
  <% end %>
  <% if @user.email == "guest@.com" %>
    <p>ゲストユーザーは退会できません</p>
  <% else %>
      <p><%= link_to "退会画面へ", user_exit_path %></p>
  <% end %>


  </div>
  </div>
  <div class="col-md-2 col-xs-2"></div>
  </div>
  </div>
</div>
