<div class="container">
  <div class="row">
    <div class="profile-edit">

  <h2>会員情報編集・入力</h2>



  <%= form_for(@user, url:user_path(current_user.id)) do |f| %>


      <%= attachment_image_tag @user, :profile_image, :fill, 150,150, fallback: "no_image.jpg", size: "200x200" %>
      <%= f.attachment_field :profile_image, class: 'image-prev' %>
      <% if @user.email == "guest@.com" %>
        <p>ゲストユーザーの名前変更はできません</p>
      <% else %>

        <p>Name</p>

         <%= f.text_field :name %>
      <% end %>

      <%= f.radio_button :sex, :男 %>
      <%= f.label :男, class: "" %>

      <%= f.radio_button :sex, :女 %>
      <%= f.label :女, class: "" %>

    <% if @user.email == "guest@.com" %>
      <p>ゲストユーザーのemail変更はできません</p>
    <% else %>

      <p>Email</p>
      <%= f.text_field :email %>
    <% end %>

    <p>年齢</p>
      <%= f.number_field :old, min: 0, max: 100 %>

    <p>体重</p>
      <%= f.number_field :weight, step: "0.1", min: 25, max: 200 %>
    <p>目標体重</p>
      <%= f.number_field :target, step: "0.1", min: 25, max: 200 %>

    <p>身長</p>
      <%= f.text_field :tall %>

    <p>introduction</p>
      <%= f.text_area :introduction %>

    <%= f.submit "Update", class: "btn btn-success" %>
  <% end %>

  <%= link_to "退会画面", user_exit_path, class: "btn btn-danger" %>

</table>

    </div>
  </div>
</div>
