<div class="container header_fix">
  <div class="row">
  	<div class="index_back">

  	  <div class="fovorite_box">
        <h2 class="fovorite_title">お気に入り</h2>
        <div>
        <table class="table index_table">
              <% @favorite_posts.each do |post| %>
                    <tr>
                      <td>
                        <p><%= post.created_at.strftime('%Y/%m/%d %H:%M') %>に投稿</p>
                        <div class="genre_btn"><span style="background-color:#ffcc99"><%= post.genre.name %></span></div>
                        <h5><%= link_to post.title, post_path(post.id) %></h5><p class="like_in_table"><strong>いいね</strong> <%= post.favorites.count%>　<i class="fas fa-comment"></i> <%= post.post_comments.count %>件</p>

                      </td>
                    </tr>
              <% end %>
        </table>
      </div>
	    </div>
    </div>
  </div>
</div>