<div class="container">
  <div class="row">
  	<div class="favorite_box">
      <div class="col-xs-offset-2 col-md-offset-3 f-box">

        <h2 class="fovorite_title">お気に入り</h2><%= @favorite_posts.count %>件

        <% if @favorite_posts.count == 0 %>
          <div class="f-box">お気に入りの記事はありません。</div>
        <% end %>

        <% if @favorite_posts.count == 1 %>
          <div class="f-box">

        <table class="table index_table">
          <% @favorite_posts.each do |post| %>
            <tr>
              <td>
                <p><%= post.created_at.strftime('%Y/%m/%d %H:%M') %>に投稿</p>
                <div class="genre_btn"><span style="background-color:#ffcc99"><%= post.genre.name %></span></div>
                <h5><%= link_to post.title, post_path(post.id) %></h5><p class="like_in_table"><strong>いいね</strong> <%= post.favorites.count%>　<i class="fas fa-comment"></i> <%= post.post_comments.count %>件</p>
              </td>
              </tr>
          <% end %>
        </table>
      </div>
    </div>
    <% end %>
        <div class="fovorite-kaminari">
          <%= paginate @favorite_posts %>
        </div>
	    </div>
    </div>
</div>