<%#= link_to  "Chatroom",mychat_path(current_user.id) %>

<div class="container">
  <%= link_to new_post_path do %>
    <i class="fas fa-pencil-alt edit_btn"></i>
  <% end %>
  <div class="mypage_box">

    <div class="detail_box_in">

  <div class="row">

    <div class="try col-md-6">

    <div class="profile-image"><%= attachment_image_tag @user, :profile_image, :fill, 250, 250, format: 'jpeg', class: "img-circle profile-img", fallback: "no_image.jpg", size:'250x250' %>
    </div>

    <div class="profile_name"><%= @user.name %></div>

<div class="btn_table">
<table>
  <tr>
    <td>
      <div id="foll_<%= @user.id %>">
        <%= render "follow_form", user: @user %>
      </div>
    </td>

    <td>
      <div class="chat_btn">
      <% unless @user.id == current_user.id %>
        <% if (current_user.followed_by? @user) && (@user.followed_by? current_user) %>
        <% if @isRoom == true %>
      <p class="user-show-room">　<a href="/chats/<%= @roomId %>" class="btn btn-primary">チャットへ</a></p>
      <% else %>
        <%= form_for @room do |f| %>
          <%= fields_for @entry do |e| %>
            <%= e.hidden_field :user_id, value: @user.id %>
          <% end %>
          <%= f.submit "チャットを始める", class:"btn btn-primary user-show-chat"%>
        <% end %>
      <% end %>
        <% end %>
        <% end %>
      </div>
    </td>
  </tr>
</table>
</div>


    <div class="follow-chatroom">
      <ul class="profile_follow">
        <li class="profile_follow_li">
          <div><%= @user.active_relationships.count %></div>
          <div><%= link_to "フォロー中", follows_user_path(@user.id) %></div>
        </li>
        <li class="profile_follow_li">
          <div><%= @user.passive_relationships.count %></div>
          <div><%= link_to "フォロワー", followers_user_path(@user.id) %></div>
        </li>
        <li class="profile_follow_li">
          <div><%= @posts.count %></div>
          <div>投稿数</div>
        </li>
    </ul>
   </div>



      <div class="profile_box">
        <% unless @user.old.present? || @user.sex.present? || @user.tall.present? || @user.weight.present? || @user.target.present? || @user.introduction? %>
          <p>↓↓プロフィールを登録してください</p>
        <% else %>
      <table>
        <tr>
          <% if @user.old.present? %>
            <td><p><%= @user.old %>歳</p></td>
          <% end %>
          <% if @user.sex.present? %>
            <td><p><%= @user.sex %>性</p></td>
          <% end %>
        </tr>
      <% if user_signed_in? && current_user.id == @user.id %>
      <tr>
        <% if @user.tall.present? %>
        <td><p>身長</p></td>
        <td><p><%= @user.tall %>cm</p></td>
        <% end %>
      </tr>
      <tr>
        <% if @user.weight.present? %>
        <td><p>体重</p></td>
        <td><p><%= @user.weight %>kg</p></td>
        <% end %>
      </tr>
      <tr>
        <% if @user.userbmi.present? %>
          <% if @user.userbmi.nan? %>
            <% else %>
              <td><p>BMI</p></td>
              <td><p><%= @user.userbmi %></p></td>
          <% end %>
        <% end %>
      </tr>
      <tr>
        <% if @user.target.present? %>
        <td><p>目標体重　</p></td>
        <td><p><%= @user.target %>kg</p></td>
        <% end %>
      </tr>
      <% end %>
    </table>
      <p><%= @user.introduction %></p>
    <% end %>
    </div>
      <button type="button" class="btn-gradation2"><i class="glyphicon glyphicon-cog"></i> <%= link_to "Edit Profile", edit_user_path(@user.id),class: "url"%></button>


    </div>
    <div class="try col-md-6">
      <div class="users_post_box">
        <div class="">
        <ul class="new">全ての投稿
          <li class="new_post"><%= link_to "記事投稿へ", new_post_path, class: 'btn btn-success' %></li>
          <li class="favorite_post"><%= link_to "お気に入り記事", favorite_path(@user), class: 'btn btn-warning' %></li>
        </ul>
      </div>
        <div class="user_post_kaminari">
          <%= paginate @posts %>
        </div>

      <table class="table">
          <% @posts.each do |post| %>
            <tr>
              <td>
                <p><%= post.created_at.strftime('%Y/%m/%d %H:%M') %>に投稿</p>
                <div class="genre_btn"><span style="background-color:#ffcc99"><%= post.genre.name %></span></div>
                <h5><%= link_to post.title, post_path(post.id) %></h5><p class="like_in_table"><strong>いいね</strong> <%= post.favorites.count%>　<i class="fas fa-comment"></i> <%= post.post_comments.count %>件</p>
            </td>
              </td>
            </tr>
          <% end %>
      </table>
      </div>
    </div>
  </div>




  <% if user_signed_in? && current_user.id == @user.id %>
  <div class="row">
    <div class="col-md-6">

<%= month_calendar events: @day_weights do |date, weights| %>
  <%= date.day %>
    <% @day_weights.each do |day_weight| %>
      <% if date.day == day_weight.start_time.day %>
      <% if date.month == day_weight.start_time.month %>
      <% if date.year == day_weight.start_time.year %>
        <div>
          <p><%= link_to day_weight.weight, edit_user_day_weight_path(current_user.id, day_weight.id) %>kg</p>
        </div>
      <% end %>
      <% end %>
      <% end %>
    <% end %>

    <% @day_records.each do |day_record| %>
      <% if date.day == day_record.start_time.day %>
      <% if date.month == day_record.start_time.month %>
      <% if date.year == day_record.start_time.year %>
        <% if day_record.breakfast.present? || day_record.lunch.present? || day_record.dinner.present? || day_record.snack.present? %>
          <%= link_to user_day_record_path(current_user.id, day_record.id) do %>
            <i class="fas fa-apple-alt apple"></i>
            <% end %>
        <% end %>
          <% if day_record.memo.present? %>
            <%= link_to user_day_record_path(current_user.id, day_record.id) do %>
              <i class="fas fa-pencil-alt pen"></i>
            <% end %>
          <% end %>
          <% if day_record.training != 0 %>
            <%= link_to user_day_record_path(current_user.id, day_record.id) do %>
              <i class="fas fa-bicycle bike"></i>
            <% end %>
          <% else %>
          <% end %>
      <% end %>
      <% end %>
      <% end %>
    <% end %>

<% end %>


    </div>

    <div class="col-md-6">
      <div class="chart_box">
        <div class="record_btn">
          <%= link_to "今日の食事・運動を記録", new_user_day_record_path(@user.id), class: 'btn btn-success' %>
          <%= link_to "今日の体重を記録", new_user_day_weight_path(@user.id), class: 'btn btn-warning' %>
        </div>
        <%= line_chart @weights.chart_date,xtitle: "日付", ytitle: "体重(kg)", class: 'chartkick', colors: ["#ff69b4", "#ff69b4"] %>
      </div>
    </div>
  </div>
  <% end %>

    </div>
  </div>
</div>


<%#= @chatroom.each do |chatroom| %>
  <%#= chatroom.user.name %>
<%# end %>


