<div class="container">
  <div class="day_weight">

<h3>記録編集</h3>

  <% if @day_weight.errors.any? %>
  <div>
    <ul style="color: red">
      <% @day_weight.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>


<%= form_with model: @day_weight, url: user_day_weight_path(current_user.id, @day_weight.id), local:true do |f| %>

  <%= f.label :計測日 %>
  <%= f.date_field :start_time %>

  <%= f.label :体重 %>
  <%= f.number_field :weight, step: "0.1", min: 30, max: 200 %>

  <%= f.submit '更新', url: user_day_weight_path(current_user.id, @day_weight.id) ,method: :patch, class: "btn-gradation" %>


<% end %>
<%= link_to  user_day_weight_path(current_user.id, @day_weight.id), method: :delete,data: {confirm: "削除しますか？"} do %>
  <i class="fas fa-trash-alt"></i>
<% end %>
  </div>
</div>


