<div class="container">
  <div class="day_weight">
  <h2>体重記録</h2>
    <% if @day_weight.errors.any? %>
  <div>
    <ul style="color: red">
      <% @day_weight.errors.full_messages.each do |message| %>
        <li class="error-messages"><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

  <%= form_with model: @day_weight, url: user_day_weights_path, local:true do |f| %>

    <%= f.label :計測日 %>
    <%= f.date_field :start_time %>

    <%= f.label :体重 %>
    <%= f.number_field :weight, step: "0.1", min: 30, max: 200 %>

    <%= f.submit '登録', class: "btn-gradation", url: user_day_weights_path ,method: :post %>

  <% end %>
  </div>
</div>