

<% if messages.present? %>
 <% messages.each do |m| %>
   <div class="row">
     <div class="chat-box">
 	     <% if m.user == current_user %>
 	        <div class="mychat">

              <div class="chat-hukidashi">

                     <div class="timestamp-left mytimestamp"><%= m.created_at.strftime('%Y/%m/%d %H:%M') %></div>
                     <div class="test"><strong class="myhukidasi"><%= m.message %></strong></div>
              </div>
           </div>

  <% else %>

    <div class="yourchat">
     <div class="chat-hukidashi">
      <div class="name"><%= m.user.name %></div><%= attachment_image_tag m.user, :profile_image, :fill, 40, 40, format: 'jpeg', class: "img-circle profile-img", fallback: "no_image.jpg", size:'40x40' %>
            <div class="timestamp"><div class="you-name"><%= m.created_at.strftime('%Y/%m/%d %H:%M') %></div></div>
            <div class="you-message"><strong class="hukidasi"><%= m.message %></strong></div>
    </div>
  </div>
  <% end %>

    </div>
   </div>
 <% end %>
<% end %>


