<div class="container">
  <div class="row" >

  <div class="col-xs-1 col-md-3">
  </div>
  <div class="col-xs-10 col-md-6 form_record_back ">
    <h3>編集</h3>
      <% if @day_record.errors.any? %>
  <div>
    <ul style="color: red">
      <% @day_record.errors.full_messages.each do |message| %>
        <li class="error-messages"><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with model: @day_record, url: user_day_record_path(current_user.id, @day_record.id), local:true do |f| %>


  <table class="table">
      <tr>
        <td class="form_record_li">
          <%= f.label :記録日 %>
        </td>
        <td>
          <%= f.date_field :start_time %>
        </td>
      </tr>
      <tr>
        <td class="form_record_li">
          <%= f.label :朝食 %>
        </td>
        <td>
          <%= f.text_field :breakfast,placeholder: "りんご", class: "form-eating" %>
        </td>
      </tr>
      <tr>
        <td class="form_record_li">
          <%= f.label :昼食 %>
        </td>
        <td>
          <%= f.text_field :lunch,placeholder: "うどん、サラダ", class: "form-eating" %>
        </td>
      </tr>
      <tr>
        <td class="form_record_li">
          <%= f.label :夜食 %>
        </td>
        <td>
          <%= f.text_field :dinner,placeholder: "カレー、サラダ", class: "form-eating" %>
        </td>
      </tr>
      <tr>
        <td class="form_record_li">
          <%= f.label :間食 %>
        </td>
        <td>
          <%= f.text_field :snack,placeholder: "プロテイン", class: "form-eating" %>
        </td>
      </tr>
      <tr>
        <td class="form_record">
          <%= f.label :運動時間 %>(分)
        </td>
        <td>
          <%= f.number_field :training %>分
        </td>
      </tr>
      <tr>
        <td class="form_record_li">
          <%= f.label :メモ %>
        </td>
        <td>
          <%= f.text_area :memo %>
        </td>
      </tr>
      <tr>
        <td></td>
        <td><%= f.submit '更新', class: "btn-gradation", url: user_day_record_path(current_user.id, @day_record.id) ,method: :patch %>
        </td>
      </tr>
  </table>

<% end %>

</div>
  <div class="col-xs-1 col-md-3">
  </div>
</div>
</div>