<div class="container">
  <div class="day_record_box">

  <div class="col-xs-1 col-md-3 form_record_back">
  </div>
  <div class="col-xs-10 col-md-6 form_record_back">
    <h2 class="record-box">食事・運動を記録</h2>
  <%= form_with model: @day_record, url: user_day_records_path, local:true do |f| %>

    <table class="table">
      <tr>
        <td class="form_record_li">
          <%= f.label :記録日 %>
        </td>
        <td>
          <%= f.date_field :start_time %>
        </td>
      </tr>
      <tr>
        <td class="form_record_li">
          <%= f.label :朝食 %>
        </td>
        <td>
          <%= f.text_field :breakfast,placeholder: "りんご", class: "form-eating" %>
        </td>
      </tr>
      <tr>
        <td class="form_record_li">
          <%= f.label :昼食 %>
        </td>
        <td>
          <%= f.text_field :lunch,placeholder: "うどん、サラダ", class: "form-eating" %>
        </td>
      </tr>
      <tr>
        <td class="form_record_li">
          <%= f.label :夜食 %>
        </td>
        <td>
          <%= f.text_field :dinner,placeholder: "カレー、サラダ", class: "form-eating" %>
        </td>
      </tr>
      <tr>
        <td class="form_record_li">
          <%= f.label :間食 %>
        </td>
        <td>
          <%= f.text_field :snack,placeholder: "プロテイン", class: "form-eating" %>
        </td>
      </tr>
      <tr>
        <td class="form_record">
          <%= f.label :運動時間 %>(分)
        </td>
        <td>
          <%= f.number_field :training %>分
        </td>
      </tr>
      <tr>
        <td class="form_record_li">
          <%= f.label :メモ %>
        </td>
        <td>
          <%= f.text_area :memo %>
        </td>
      </tr>
      <tr>
        <td></td>
        <td><%= f.submit '記録',class: 'btn btn-info', url: user_day_records_path ,method: :post %>
        </td>
      </tr>
  </table>

  <% end %>
  </div>
  <div class="col-xs-1 col-md-3 form_record_back">
  </div>
  </div>
</div>

