<div class="container">
  <div class="row">
      <div class="col-xs-1 col-md-3"></div>
      <div class="col-xs-10 col-md-6">
        <div class="dayrecord-box">
      <h1 class="start-time"><%= @day_record.start_time %></h1>
          <table>
            <tr>
              <td>
                運動時間(計)
              </td>
              <td>
                <%= @day_record.training %>分
              </td>
            </tr>
            <tr>
              <td>
                朝食
              </td>
              <td>
                <%= @day_record.breakfast %>
              </td>
            </tr>
            <tr>
              <td>
                朝食
              </td>
              <td>
                <%= @day_record.lunch %>
              </td>
            </tr>
            <tr>
              <td>
                昼食
              </td>
              <td>
                <%= @day_record.dinner %>
              </td>
            </tr>
            <tr>
              <td>
                夜食
              </td>
              <td>
                <%= @day_record.snack %>
              </td>
            </tr>
            <tr>
              <td>
                メモ
              </td>
              <td>
                <%= @day_record.memo %>
              </td>
            </tr>
            <tr>
              <td></td>
              <td>
              <%= link_to "編集", edit_user_day_record_path(current_user.id, @day_record.id) , class: "btn btn-success"%>
              <%= link_to "削除", user_day_record_path(current_user.id, @day_record.id), method: :delete, class: "btn btn-danger" %>
            </td>
          </tr>
        </table>
        </div>
      </div>
      <div class="col-xs-1 col-md-3"></div>
  </div>
</div>

