<table class="table index_table">
  <% posts.each do |post| %>
    <tr>
      <td class="td_index"><%= attachment_image_tag post.user, :profile_image, :fill, 20, 20, format: 'jpeg', class: "img-circle profile-img", fallback: "no_image.jpg", size:'20x20' %>
        <p class="post_index"><%= post.user.name %>が<%= post.created_at.strftime('%Y/%m/%d %H:%M') %>に投稿</p>
        <div class="genre_btn"><span style="background-color:#ffcc99"><%= post.genre.name %></span></div>
        <h3><%= link_to post.title, post_path(post.id) %></h3>
        <p class="like_in_table"><strong>いいね</strong> <%= post.favorites.count%>　<i class="fas fa-comment"></i> <%= post.post_comments.count %>件</p>
      </td>
      <td></td>
    </tr>
  <% end %>
</table>