<div class ="container">
<div class="d-flex align-items-center">
  <h1>記事編集</h1>
  <div class="ml-auto posts_button">
      <a class="btn btn-outline-info" href="/posts">投稿一覧</a>
  </div>
</div>
<%#= form_for @post do |f| %>
<%= form_with model: @post, local: true do |f| %>

    <div class="form-group">
    <%= f.label :genre, '投稿カテゴリー' %>
  <%= collection_select(:genre, :name, @genres, :id, :name) %><br>
  <small id="title-tip" class="form-text text-muted">
            カテゴリーを選択してください。
        </small>
    </div>


    <%= "スペースを入力することで複数のタグをつけることができます。" %><br>
    <%= "例：運動 ストレッチ 筋肉" %><br>
    <%= f.label :tag_name, 'タグ' %>
    <%= f.text_field :tag_name %>

    <div class="form-group">
        <%= f.label :title, '投稿タイトル' %>
        <%= f.text_field :title, class: 'form-control' %>
        <small id="title-tip" class="form-text text-muted">
            タイトルを入力してください。
        </small>
    </div>
    <div class="form-group">
        <%= f.label :content, '投稿内容' %>
        <%= f.text_area :content, class: 'form-froala2', rows:10 %>
        <small id="content-tip" class="form-text text-muted">
            投稿内容を入力してください。
        </small>
    </div>
    <%= f.submit '編集完了', class: 'btn btn-info btn-block' %>
    <small id="submit-tip" class="form-text text-muted">
        更新する前に投稿内容を見直してください!
    </small>
<% end %>
  <script>
new FroalaEditor('.form-froala2', {});
</script>
</div>