<div class="container">


    <div class="searchbox">
      <div class="searchbox_in">
      <%= search_form_for @search do |f| %>
        <%= f.search_field :title_or_content_cont,placeholder: '検索するワードを入力' %>
        <%= f.submit "検索", class: "btn-gradation3" %><p> </p>
      <% end %>
      </div>

      <div class="sortbox">
        <%= form_with model: @post, url: select_path, method: :get, local: true do |form| %>
          <%= form.select :keyword, [ ['投稿が新しい順', 'new'],
                                    ['投稿が古い順', 'old'],
                                    ['いいねが多い順', 'likes'],
                                    ['いいねが少ない順', 'dislikes'],
                                  ], { :include_blank => "選択してください ▼" }, :required => true  %>
          <%= form.submit '並び替え', class: "btn-gradation3" %>
        <% end %>
      </div>
    </div>

  <%= render "posts/searchbar", search: @search, post: @post %>

  <div class="row">
    <div class="index_back">
      <div class="index_back_box">
        <div class="col-xs-offset-2 col-md-offset-3">

          <%= render "genre_bar", genres: @genres %>

        <% if controller.action_name == "search" %>
          <h4 class="title"><%= @genre.name %>
            <span>(全 <%= @posts.count %> 件)</span>
          </h4>
          <% if @posts.count == 0 %>
            <div class="genre-nothing col-xs-offset-3">投稿がありません。</div>
          <% end %>

          <%= render "posts/post", posts: @posts %>

        <% else %>

          <%= render "posts/post", posts: @search_posts %>
        <% end %>
        </div>
      </div>
    </div>
  </div>


<%= link_to new_post_path do %>
  <i class="fas fa-pencil-alt edit_btn"></i>
<% end %>

</div>
