<div class="container">

  <%= render "posts/searchbar", search: @search, post: @post %>

  <div class="row">
    <div class="index_back">
      <div class="index_back_box">
        <div class="col-xs-offset-2 col-md-offset-3">

          <%= render "genre_bar", genres: @genres %>

          <% if controller.action_name == "search" %>
            <h4 class="title"><%= @genre.name %>
              <span>(全 <%= @posts.count %> 件)</span>
            </h4>
            <% if @posts.count == 0 %>
              <div class="genre-nothing col-xs-offset-3">投稿がありません。</div>
            <% end %>

            <%= render "posts/post", posts: @posts %>

          <% else %>

            <%= render "posts/post", posts: @search_posts %>

          <% end %>
        </div>
      </div>
    </div>
  </div>


<%= link_to new_post_path do %>
  <i class="fas fa-pencil-alt edit_btn"></i>
<% end %>

</div>
