

<div class="container">

<%= render "genre_bar", genres: @genres %>


<h5>タグリスト</h5>
  <% @tag_list.each do |list| %>
      <%= link_to tag_posts_path(list.id) do %>
        <%= list.tag_name %>
      <% end %>
      <%= list.posts.count %>
  <% end %>

<div class="searchbox">
  <%= search_form_for @search do |f| %>
    <%= f.search_field :title_or_content_cont,placeholder: '検索するワードを入力' %>
    <%= f.submit "検索" %>
  <% end %>
</div>


    <% if controller.action_name == "search" %>
        <h1 class="title"><%= @genre.name %><span>(全 <%= @posts.count %> 件)</span></h1>
      <% else %>

      <% end %>



    <div class="ml-auto posts_button">
        <a class="btn btn-outline-info" href="/posts/new" role="button">新規投稿</a>
</div>
<table class="table">

      <% @search_posts.each do |post| %>
        <tr>
            <td><%= attachment_image_tag post.user, :profile_image, :fill, 20, 20, format: 'jpeg', class: "img-circle profile-img", fallback: "no_image.jpg", size:'20x20' %>
            <p class="post_index"><%= post.user.name %>が<%= post.created_at.strftime('%Y/%m/%d %H:%M') %>に投稿</p>
            <div class="genre_btn"><span style="background-color:#ffcc99"><%= post.genre.name %></span></div>
            <h3><%= link_to post.title, post_path(post.id) %></h3>
            </td>
        </tr>
      <% end %>
</table>
</div>
