<div class ="container">
  <div class ="row">
    <div class="index_back select_index">
      <div class="col-xs-offset-2 col-md-offset-3">
  <div>
    <% if @selection == "new" %>
      <h1 class="select-title">投稿が新しい順</h1>
    <% elsif @selection == "old" %>
      <h1 class="select-title">投稿が古い順</h1>
    <% elsif @selection == "likes" %>
      <h1 class="select-title">いいねが多い順</h1>
    <% elsif @selection == "minilikes" %>
      <h1 class="select-title">いいねが少ない順</h1>
    <% end %>
  </div>
    <div class="sortbox">
        <%= form_with model: @post, url: select_path, method: :get, local: true do |form| %>
          <%= form.select :keyword, [ ['投稿が新しい順', 'new'],
                                    ['投稿が古い順', 'old'],
                                    ['いいねが多い順', 'likes'],
                                    ['いいねが少ない順', 'minilikes'],
                                  ], { :include_blank => "選択してください ▼" }, :required => true  %>
           <%= form.submit '並び替え', class: "btn-gradation3" %>
        <% end %>
      </div>


  <table class="table index_table">

            <% @select_posts.each do |post| %>
            <tr>
              <td><%= attachment_image_tag post.user, :profile_image, :fill, 20, 20, format: 'jpeg', class: "img-circle profile-img", fallback: "no_image.jpg", size:'20x20' %>
              <p class="post_index"><%= post.user.name %>が<%= post.created_at.strftime('%Y/%m/%d %H:%M') %>に投稿</p>
              <div class="genre_btn"><span style="background-color:#ffcc99"><%= post.genre.name %></span></div>
              <h3><%= link_to post.title, post_path(post.id) %></h3>
              <p class="like_in_table"><strong>いいね</strong> <%= post.favorites.count%>　<i class="fas fa-comment"></i> <%= post.post_comments.count %>件</p>
              </td>
            </tr>
            <% end %>
          </table>
    </div>
    </div>
  </div>
</div>