<div class="container">
  <div class="row">

    <% if current_user != @post.user %>
        <% if @post.user.followed_by?(current_user) %>
            <p><%=link_to "フォロー済み", user_relationships_path(@post.user.id), method: :delete %></p>
        <% else %>
            <p><%=link_to "フォローする", user_relationships_path(@post.user.id), method: :post %></p>
        <% end %>
    <% end %>
<%= render 'detail', post: @post %>



  <%= form_with model: [@post, @post_comment] do |f| %>
  <div class="row">
    <div class="col-sm-9">
      <%= f.text_area :comment, rows:'5', class: "form-control",placeholder: "コメントをここに" %>
    <%= f.submit "送信する", class: "btn btn-lg btn-base-1 mt-20 pull-right" %>
  </div>
  </div>
<% end %>

<div id="comments_area">
  <%= render 'post_comments/comment', post: @post %>
</div>

  </div>
</div>