<div class="container">
  <div class="row">

<%= render "users/follow_form", user: @user %>

<%= render 'detail', post: @post %>

<% @post_tags.each do |tag| %>
  <span>
    <%= link_to tag.tag_name, tag_posts_path(tag.id) %>
    <%= "(#{tag.posts.count})" %>
  </span>
<% end %>



  <%= form_with model: [@post, @post_comment] do |f| %>
  <div class="row">
    <div class="col-sm-9">
      <%= f.text_area :comment, rows:'5', class: "form-control",placeholder: "コメントをここに" %>
    <%= f.submit "送信する", class: "btn btn-lg btn-base-1 mt-20 pull-right" %>
  </div>
  </div>
<% end %>

<div id="comments_area">
  <%= render 'post_comments/comment', post: @post %>
</div>

  </div>
</div>