
<div class="container">
  <div class="row">
    <%= render 'detail', post: @post %>

    <% @post_tags.each do |tag| %>
      <span>
        <%= link_to tag.tag_name, tag_posts_path(tag.id) %>
        <%= "(#{tag.posts.count})" %>
      </span>
    <% end %>
  <div class="comment_box">
    <div class="comment_box_in">

      <%= form_with model: [@post, @post_comment] do |f| %>

        <% if @post_comment.errors.any? %>
          <div id="error_explanation">

          <ul>
            <% @post_comment.errors.full_messages.each do |message| %>
            <li><%= message %></li>
        <% end %>
          </ul>
          </div>
        <% end %>

        <div class="row">
          <div class="col-sm-9">
            <%= f.text_area :comment, rows:'4', class: "form-control",placeholder: "コメントをここに入力してください" %>
            <%= f.submit "送信", class: "btn btn-secondary pull-right" %>
          </div>
        </div>
      <% end %>
      <div id="comments_area">
        <%= render 'post_comments/comment', post: @post %>
      </div>
    </div>
  </div>
  </div>
</div>