<div class="container">
  <div class="row">


<%= render 'detail', post: @post %>



  <%= form_for [@post, @post_comment] do |f| %>
  <div class="row">
    <div class="col-sm-9">
      <%= f.text_area :comment, rows:'5', class: "form-control",placeholder: "コメントをここに" %>
    <%= f.submit "送信する", class: "btn btn-lg btn-base-1 mt-20 pull-right" %>
  </div>
  </div>
<% end %>



<table>
  <% @post.post_comments.each do |post_comment| %>
        <tr>
          <td><%= post_comment.user.name %></td>
          <td><%= post_comment.created_at.strftime('%Y/%m/%d') %></td>
          <td><%= post_comment.comment %></td>
          <% if post_comment.user == current_user %>
            <td>
              <%= link_to "削除", post_post_comment_path(post_comment.post, post_comment), method: :delete, class: "btn btn-danger pull-right" %>
            </td>
          <% end %>
        </tr>
  <% end %>
</table>


  </div>
</div>