<!DOCTYPE html>
<html>
  <head>
    <title>ShareHealthy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
  </head>

  <body>
    <header>
  <nav>
    <ul class="nav-list">
      <li class="nav-list-item navbar-left">
        <div class="logo">Share Healthy</div>
      </li>
      <% if user_signed_in? %>
        <li class="nav-list-item"><%= current_user.name %></li>
        <li class="nav-list-item"><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
        <li class="nav-list-item"><%= link_to "My Page", user_path(current_user.id) %></li>
        <li class="nav-list-item"><%= link_to "Top", root_path %></li>
        <li class="nav-list-item"><%= link_to "記事一覧", posts_path %></li>


      <% elsif admin_signed_in? %>
        <li class="nav-list-item">管理者</li>
        <li class="nav-list-item"><%= link_to "ログアウト", destroy_admin_session_path, method: :delete %></li>
        <li class="nav-list-item"><%= link_to "ジャンル", admins_genres_path %></li>
      <% else %>
        <li class="nav-list-item"></li>
        <li class="nav-list-item"><%= link_to "新規登録", new_user_registration_path %></li>
        <li class="nav-list-item"><%= link_to "ログイン", new_user_session_path %></li>
        <li class="nav-list-item"><%= link_to 'ゲストログイン', homes_guest_sign_in_path, method: :post %></li>
        <li class="nav-list-item"><%= link_to "Top", root_path %></li>
        <li class="nav-list-item"><%= link_to "About", about_path %></li>
      <% end %>
    </ul>


  </nav>
</header>
    <%= yield %>
  </body>
<footer>
      <div class="footer_box">
        <div class="footer_box_title">Share Healthy</div><p>Health is wealth</p>
      </div>
    </footer>
</html>
