<!DOCTYPE html>
<html>
  <head>
    <title>ShareHealthy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
  </head>

  <body class="nav_open">
    <!-- <header> -->
  <div id="header">
    <h1>Share Healthy</h1>
      <nav>
        <ul id="navi">
          <li><a href="#">top</a></li>
          <li><a href="#">sign up</a></li>
          <li><a href="#">sign in</a></li>
          <li><a href="#">gest</a></li>
          <li><a href="#">about</a></li>
          <li><a href="#">Mypage</a></li>
        </ul>
      </nav>
<!-- ボタン部分ここを後で追加するだけ-->
<div class="nav_btn" id="nav_btn">
  <span class="hamburger_line hamburger_line1"></span>
  <span class="hamburger_line hamburger_line2"></span>
  <span class="hamburger_line hamburger_line3"></span>
</div>
<div class="nav_bg" id="nav_bg"></div>
<!-- /ボタン部分ここを後で追加するだけ-->
</div>
<!-- </header>
 -->    <%= yield %>
  </body>
<footer>
      <div class="footer_box">
        <div class="footer_box_title">Share Healthy</div><p>Health is wealth</p>
      </div>
    </footer>
</html>
